.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* header태그의 z-index값은 20인데 nav태그의 z-index값은 10이다.
  즉, header와 nav가 겹치는 경우 header가 더 상단에 위치하게 된다.
  (nav 태그보다 먼저 사용자에게 보이게 된다.) */
}
.nav__wrapper {
  min-width: 200px;
  min-height: 100vh;
  /* 100vh이므로 뷰포트 전체의 높이와 같다. */
  background-color: #f8f8f8;
  padding: 80px 0 0 0;
  /* header에 가려진 영역만큼 패딩을 준다. */
  list-style: none;
  /* list앞에 ● 이 붙는 것을 막기 위해 none값을 준다. */
}
.nav__wrapper li {
  /* li태그에 id값을 주어도 되지만 위와 같은 방법으로도 li에 스타일을 적용할 수 있다. */
  display: flex;
  padding: 10px 16px 10px;
}
.nav__wrapper li:hover {
  background-color: #eaeaea;
}
.nav__icon {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}
.nav__menu {
  margin: 0 0 0 8px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .nav__menu {
    display: none;
  }
  .nav__wrapper {
    min-width: 0;
  }
  /* 위의 .nav_menu는 뷰포트가 작아짐에 따라 글자가 사라지게 하는 역할이고
  아래의 .nav_wrapper는 뷰포트가 작아짐에 따라 글자 영역의 너비도 같이 줄어들어
  결국 하트 모양의 아이콘만 딱 감쌀 수 있게 만들어주는 것이다. */
}
@media screen and (max-width: 400px) {
  .nav__wrapper {
    display: none;
  }
}
